*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fuente */
body{
    font-family: 'Roboto', sans-serif;
}
.section-all{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* header */
header{
    width: 100%;
    height: auto;
    background-color: black;
}
nav{
    display: flex;
    justify-content: center;
}
.nav-login{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1.5rem 0rem;
}
.navlo-left{
    display: flex;
    align-items: center;
}
.navlo-left a{
    font-size: .875rem;
    text-align: left;
    text-decoration: none;
    color: white;
}
.navlo-right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.navlo-right ul{
    list-style: none;
    gap: .625rem;
    display: flex;
}
.navlo-right ul li a{
    font-size: .875rem;
    text-decoration: none;
    color: white;
}
.navlo-linea{
    border-left: .125rem solid #8F00FF;
}
.menu{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem 1.5rem 0rem;
}
.logo-nav{
    width: auto;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-nav img{
    width: auto;
    height: 4.375rem
}
.logo-dos{
    display: none;
}
.menu-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-principal{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-principal li{
    align-items: center;
    justify-content: space-around;
}
.menu-principal li a{
    font-size: 1.25rem;  /* TAMAÑO TEXTO MENU*/
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.search-index{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-index input{
    flex: 1;
    max-width: 12.5rem;
    height: 1.75rem;
    padding: 2px 2px 2px 32px;
    border-radius: 14px;
}
.search-index input .buscar{
    width: 6.25rem;
}
.search-index img{
    width: auto;
    height: 2.5rem;
    padding: 2px;
}
.cart img{
    width: auto;
    height: 2.5rem;
    padding: 0px 10px;
}
.carrusel{
    width: 80%; 
    max-width: 100%;
    height: 37.5rem;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.carrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-titulo{
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-titulo ul{
    padding: 1rem 1rem;
    list-style: none;
    display: contents;
    align-items: center;
    justify-content: space-between;
}
.img-titulo img{
    max-width: 100%;
    height: auto;
}
main{
    padding: 1.875rem 0px;
}
/* titulos secciones */
.seccion-conteiner{
    width: 80%;
    margin: 0 auto; 
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

.titulo-seccion{
    padding: 1rem 0rem;
}

.titulo-seccion ul{
    display: flex; 
    justify-content: center;
    list-style: none;
}

.linea-izq, .linea-der{
    border-top: 2px solid #8F00FF;
    flex-grow: 1;
}

.titulo-seccion h1{
    font-size: 1.5625rem;
    font-weight: bold;
    text-align: center;
    padding: 0rem 1rem;
    margin: 0;
    display: inline; 
}

/* tarjeta productos */
.productos-destacados{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productos-destacados .card{
    width: 18.75rem;
    height: 25rem;
    margin: 40px;
    border-radius:1%;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
}
.productos-destacados .card div{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.productos-destacados .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productos-destacados .card p{
    font-size: 1.375rem;
    font-weight: bold;
    padding: 1rem;
}

/* SEGUINOS */
.seguinos-redes{
    display: flex;
    justify-content: center;
}
.seguinos-redes img{
    width: auto;
    height: 5rem;
    padding: 1.25rem;
}

/* seccion info */
.seccion-info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.seccion-info article{
    width: 35%;
    padding: 1rem 0rem;
}
.info-info{
    display: contents;
    align-items: center;
    padding: 1.25rem 0rem;
    margin: 0rem;
}
.info-info h3{
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 1rem 0rem;
}
.info-info h4{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    text-align: center;
    align-items: start;
    justify-content: start;
}

/***QUIENES SOMOS***/

.quienes-info{
    width: 80%;
    display: contents;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.historia-info{
    width: 100%;
    height: 18.75rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 1rem;
}
.historia-info article{
    width: 100%;
    height: 18.75rem;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 1rem;
}
.historia-info article p{
    font-size: 1.05rem;
    color: black;
    text-align: left;
    display: flex;
    padding: 0rem 1.875rem;
}
.historia-info article img{
    width: 50%;
    height: 18.75rem;
    object-fit: cover;
    padding: 0rem 1.875rem;
}


.medios-pago{
    display: flex;
    align-items: center;
    justify-content: start;
}
.medios-pago li{
    display: flex;
} 
.medios-pago li img{
    width: auto;
    height: 3.125rem;
    background-color: white; /**esto esta porque la imagen no tiene fondo y para que se vea que hay algo ahi ya la voy a cambiar**/
    margin: 0.3125rem;
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto li a{
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0.5rem;
}
.contacto li img{
    width: auto;
    height: 3.125rem;
    background-color: white; /**esto esta porque la imagen no tiene fondo y para que se vea que hay algo ahi ya la voy a cambiar**/
    padding: 0.3125rem;
}
.footer-copy{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-copy p{
    color: white;
    font-size: 0.875rem;
    text-align: left;
    padding: 2rem;
}

/* PRODUCTOS */
.main-producto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.filtro-producto{
    width: 12.5rem;
    display: flex;
    align-items: start;
    justify-content: start;
}
.filtro{
    width: 12.5rem;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
}
.filtro-titulo{
    display: block;
    padding: 1rem 0rem;
}
.filtro-titulo li{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: .1875rem;
    list-style: none;
}
.filtro-titulo h2{
    font-size: 1rem;
}
.linea-sepa{
    border-top: 2px solid #8F00FF;
}
.filtro-busqueda{
    display: block;
}
.filtro-busqueda li{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: .1875rem;
    list-style: none;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "card card card"
    "card card card"
    ;
    row-gap: .625rem;
    column-gap: .625rem ;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem; 
}
.productos .card{
    width: 11rem;
    height: 18rem;
    margin: 0.8rem;
    border-radius:1%;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
}
.productos .card div{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}
.productos .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productos .card p{
    font-size: 1.375rem;
    font-weight: bold;
    padding: 0.8rem;
}
.productos .card button{
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: .125rem solid #8F00FF;
    border-radius: 9%;
    padding: 0.2rem;
}

/* CONTACTOS */
.contacto-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.formulario-contacto{
    flex: 1;
    padding: 20px;
}
.formulario-contacto label{
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.formulario-contacto input, .formulario-contacto textarea{
    width: 100%; 
    border: 1px solid #8F00FF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.redes-sociales{
    flex: 1; 
    padding: 20px;
    padding-left: 12.5rem;
}
.redes-sociales h2{
    font-size: 1.25rem;
    font-weight: bold;
}
.redes-sociales ul{
    list-style: none;
    padding-top: 10px;
}
.redes-sociales li{
    margin-bottom: 10px;
}
.redes-sociales a{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.redes-sociales img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* GUIA DE TALLES */
.main-guia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-guia{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.img-guia img{
    width: 50%;
    max-height: auto;
}

/* LOCALES */
.tiendas-container{
    width: 100%;
    display: flex;
    padding: 1.25rem;
}

.mapa{
    width: 100%;
    height: 100%;
    padding: 1.875rem;
    display: flex;
}
/* aqui estoy pensando que agregar información a la lista de tiendas
o como hacer una barra donde haya una lista suponiendo que habria muchas tiendas para ver */
.lista-tiendas{
    width: 100%;
    padding: 1.875rem;
    display: flex;
}

.lista-tiendas ul{
    list-style: none;
    display: block;
    padding: 10px;
}

.lista-tiendas ul li{
    margin-bottom: 1.875rem;
    align-items: start;
    justify-content: start;
}
.lista-tiendas ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* POLITICA DE CAMBIOS */
.main-politica{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.texto-politica{
    display: block;
    align-items: center;
    justify-content: center;
}
.texto-politica h2{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}
.texto-politica h3{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: .625rem;
}
.texto-politica a{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
footer{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
footer section{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    width: 100%; 
    display: block;
    align-items: center;
    justify-content: center;
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-info{
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.footer-column{
    width: 38%;
    height: auto;
    margin: 20px;
    text-align: left;
}
.footer-column div h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding: 1rem 0rem;
    border-bottom: .125rem solid #8F00FF;
}
.footer-column div ul{
    color: white;
    list-style: none;
    padding: 1rem 0rem;
}
.footer-column div ul li{
    padding: 0.425rem 0rem
}
.footer-column div ul li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/* ::hover */
.menu :hover{
    font-weight: bold;
}
.card button:hover{
    background-color: #8F00FF;
    color: white;
}
/* PUNTOS DE QUIEBRE */
@media(max-width: 768px){
    header{
        padding: 0rem 1rem  ;
    }
    nav{
        width: 90%;
    }
    .nav-login{
        width: 90%;
    }
    .navlo-left a{
        font-size: 1.2rem;
    }
    .navlo-right ul{
        gap: 1rem;
    }
    .navlo-right a{
        font-size: 1.2rem;
    }
    .menu{
        width: 90%;
    }
    .menu-principal li a{
        font-size: 1.1rem;
    }
    .search-index input{
        width: 100px;
    }
    .carrusel img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card div{
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
    .card div p{
        font-size: 2rem;
        font-weight: bold;
        padding: 0.5rem;
    }
    .card div button{
        font-size: 1.5rem;
    }
    .seguinos-redes img{
        width: auto;
        height: 8rem;
        padding: 1.25rem;
    }
    .seccion-info article{
        width: 35%;
        padding: 1rem 0rem;
        align-items: start;
    }
    .info-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info-info h3{
        font-size: 1.25rem;
        font-weight: bold;
        color: black;
        text-align: center;
        padding: 1rem 0rem;
    }
    .info-info h4{
        font-size: 1.3rem;
    }
    .historia-info article p{
        font-size: 1.3rem;
    }
    .footer-column div h3{
        color: white;
        font-size: 1.1rem;
    }
    .footer-column div ul li{
        font-size: 1rem;
    }
    .footer-copy p{
        color: white;
        font-size: 1.5rem;
        text-align: left;
        padding: 2rem;
    }
    .productos{
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "card card"
        "card card"
        "card card"
        ;
    }
}
@media(max-width: 425px){
    .section-all{
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto;
    }
    header{
        height: auto;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-login{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }
    .navlo-left{
        display: none;
    }
    .navlo-right ul{
        display: flex;
        justify-content: center;
        padding: 0rem 1rem;
    }
    .navlo-right ul li a{
        font-size: 2rem;
        text-align: center;
    }
    .navlo-linea{
        border-left: .3125rem solid #8F00FF;
        padding: 0rem 1rem;
    }
    .menu{
        width: 90%;
        flex-direction: column; 
        align-items: center;
        height: auto;
        border-top: .25rem solid #8F00FF;;
    }
    .logo-nav{
        height: 6rem;
        margin:  6rem;
        object-fit: contain;
        margin: 1rem;
    }
    .logo-nav img{
        width: auto;
        height: 4rem;
        align-items: center;
        justify-content: center;
    }
    .logo-uno{
        display: none;
    }
    .logo-dos{
        display: flex;
    }
    .menu-cart{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        margin: 0rem;
    }
    .menu-principal{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-principal li a{
        font-size: 2.5rem;
    }
    .cont{
        display: none;
    }
    .guia{
        display: none;
    }
    .local{
        display: none;
    }
    .search-index{
        display: none;
    }
    .cart img{
        height: 4rem;
        margin-left: 0.5rem;
        padding: none;
    }
    .carrusel{
        height: 28rem;
    }
    .carrusel img{
        object-position: 0px -2em
    }
    .img-titulo ul{
        display: none;
    }
    .seccion-conteiner{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .seccion-info{
        flex-direction: column;
        align-items: center;
    }
    .titulo-seccion h1{
        font-size: 2.2rem; 
        border-top: 3px solid #8F00FF;
        padding-top: 1rem;
    }
    .linea-izq, .linea-der{
        display: none;
    }
    .productos-destacados{
        display: flex;
        flex-direction: column;
    }
    .productos-destacados .card{
        width: 31.25rem;
        height: 43.75rem;
        border-radius:2%;
    }
    .productos-destacados .card div{
        height: 28rem;
    }
    .productos-destacados .card p{
        font-size: 4.5rem ;
    }
    .productos-destacados .card button{
        font-size: 2.5rem;
        color: black;
        background-color: white;
        border: solid #8F00FF;
        border-radius: 9%;
        padding: 1rem;
    }
    .seguinos-redes img{
        height: 10rem;
    }
    .seccion-info{
        flex-direction: column;
    }
    .seccion-info article{
        width: 90%;
    }
    .info-info h3{
        font-size: 2.5rem;
        color: white;
        border: 5px solid #8F00FF;
        border-radius: 10px;
        background-color: #8F00FF;
    }
    .info-info h4{
        font-size: 2rem;
        padding-top: 1rem;
    }
    .quienes-info{
        width: 100%;
    }
    .historia-info{
        height: auto;
    }
    .historia-info article{
        height: auto;
        flex-direction: column;
        padding: none;
    }
    .historia-info article img{
        width: 100%;
    }
    .historia-info article p{
        font-size: 1.8rem;
        padding: 2rem 2rem;
    }
    .filtro-producto{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filtro{
        display: none; /* esto deberia ser un boton que abra el menu de filtros*/
    }
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .productos .card{
        width: 16rem;
        height: 25rem;
        margin: 0.8rem;
        border-radius:2%;
        overflow: hidden;
        box-shadow: 2px 2px 5px grey;
        text-align: center;
    }
    .productos .card div{
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
    .productos .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .productos .card p{
        font-size: 1.375rem;
        font-weight: bold;
        padding: 0.8rem;
    }
    .productos .card button{
        font-size: 1.5rem;
        color: black;
        background-color: white;
        border: .125rem solid #8F00FF;
        border-radius: 9%;
        padding: 0.2rem;
    }
    footer{
        height: auto;
        display: flex;
    }
    footer section{
        width: 100%;
        text-align: center;
    }
    .footer-container{
        display: flex;
    }
    .footer-info{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer-column{
        width: 90%;
        height: auto;
        margin: 10px;
    }
    .footer-column div h3{
        font-size: 2.2rem;
        text-align: center;
    }
    .footer-column div ul li{
        font-size: 1.5rem;
        text-align: center;
    }
    .medios-pago{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .medios-pago li{
        display: flex;
    }    
    .medios-pago li img{
        height: 6rem;
        margin: 0.5rem;
    }
    .contacto{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contacto li a{
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0rem 1rem;
    }
    .contacto li a img{
        width: auto;
        height: 5rem;
        background-color: white; /**esto esta porque la imagen no tiene fondo y para que se vea que hay algo ahi ya la voy a cambiar**/
        padding: 0.3125rem;
    }
    .footer-copy{
        width: 100%;
        height: auto;
    }   
    .footer-copy p{
        color: white;
        font-size: 1.5rem;
        text-align: left;
        padding: 2rem;
    }
}